<!DOCTYPE html><html lang="vi">
<%- include('partials/head'); %>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <!-- wrapper -->
    <div class="wrapper">
        <%- include('partials/nav'); %>
        <%- include('partials/aside'); %>

        <%- include(main); %>
        
        <%- include('partials/footer'); %>
    </div>
    <!-- ./wrapper -->
    <%- include('partials/js'); %>
</body></html>